{% from "components/footer/_macro.footer.njk" import componentFooter %}
{{ componentFooter({
  "meta": {
    "visuallyHiddenTitle": "Enlaces a pie de página",
    "items": [
      {
        "href": "#",
        "text": "Accesibilidad"
      },
      {
        "href": "#",
        "text": "Mapa web"
      }
    ],
    "html": 'Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>'
  },
  "classes": "lg:mt-48"
})  }}


<script src="https://unpkg.com/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6.2.6/dist/tippy-bundle.umd.min.js"></script>
<script type="module" src="../../js/index.js"></script>
</body>
</html>

