{% set currentAppName = "Servicio de presentación telemática de tributos" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

{% set defaultOffcanvas %}
  <nav class="w-full p-2" aria-label="Menú móvil">
    <h3 class="p-base text-base font-bold">Servicio de presentación telemática de tributos</h3>
    {{ componentNav({
      "idPrefix": "nav-mobile-pages",
      "hasNav": false,
      "items": [
        {
          "href": "#",
          "text": "Inicio",
          "active": true
        },
        {
          "href": "#",
          "text": "Página 1"
        },
        {
          "href": "#",
          "text": "Página 2",
          "divider": true
        }
      ],
      "attributes": {
        "aria-label": "Lista de páginas"
      }
    })  }}
    <h3 class="p-base text-base font-bold">Usuario/a: Marta Pérez</h3>
    {{ componentNav({
      "idPrefix": "nav-mobile-user",
      "hasNav": false,
      "items": [
        {
          "href": "#",
          "text": "Perfil"
        },
        {
          "href": "#",
          "text": "Cerrar sesión",
          "divider": true
        }
      ],
      "attributes": {
        "aria-label": "Lista de acciones de usuario"
      }
    })  }}
    {% call componentDetails({
      "classes": "px-base",
      "summary": {
        "html": "Cambiar de aplicación",
        "classes": "c-link text-sm"
      }
    })  %}
        {{ componentNav({
          "idPrefix": "nav-mobile-apps",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Servicio de presentación telemática de tributos",
              "active": true
            },
            {
              "href": "#",
              "text": "Catálogo de servicios"
            },
            {
              "href": "#",
              "text": "Bandeja de entrada"
            },
            {
              "href": "#",
              "text": "Sistema de comprobación y verificación de documentos por CSV"
            }
          ],
          "attributes": {
            "aria-label": "Lista de aplicaciones"
          }
        })  }}
    {% endcall %}
  </nav>
{% endset %}

{% include "pages/_page.head.njk" %}
<body>
  {% call componentHeader({
    "homepageUrl": "/",
    "subnav": {
      "text": "Servicio de presentación telemática de tributos"
    },
    "offcanvas": {
      "text": "Menu",
      "textClose": "Cerrar menu",
      "labelledId": "offcanvas-title"
    }
	})  %}
    {{ defaultOffcanvas | safe }}
  {% endcall %}
  <main id="content" class="container mx-auto px-4 sm:px-6 lg:px-8">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "pages/_page.foot.njk" %}
