{% set currentAppName = "Servicio de presentación telemática de tributos" %}

{% include "pages/_page.head.njk" %}
<body>
  {% from "components/header/_macro.header.njk" import componentHeader %}
{{ componentHeader({
  "expandedLogo": true,
  "subnav": {
    "text": currentAppName
  }
})  }}
  <main id="content" class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="c-h1 mt-lg">Servicio de presentación telemática de tributos</h1>
    <!-- iframe -->
    {% block contentBlock %}
    {% endblock %}
    <!-- /iframe -->
    <div class="pb-xl"></div>
    <h2 class="c-h2">O bien, con usuario y contraseña</h2>
    <p class="c-paragraph-base mb-0">
      Si ya estás registrado en el Servicio y todavía no tienes <span aria-label="Clave">Cl@ve</span>
    </p>
    <p class="c-paragraph-base text-neutral-dark">
      Este método de acceso finalizará el 20 de Agosto del 2022. A partir de ese momento sólo se podrá acceder con Cl@ve.
    </p>
    {% from "components/button/_macro.button.njk" import componentButton %}
    {{ componentButton({
      "text": "Accede con usuario y contraseña",
      "href": "#"
    })  }}
    <div class="pb-2xl"></div>
    <p class="c-paragraph-base mb-0">
      Si aún no estás registrado:
    </p>
    <p class="c-paragraph-base">
      <a href="#" class="c-link">Registra un nuevo usuario</a> con <span aria-label="Clave">Cl@ve</span>.
    </p>

    <hr class="border-t border-neutral-base my-xl">
    <!-- Start FAQ -->
    <div class="mb-lg">
      <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
      <ul>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Qué es <span aria-label="Clave">Cl@ve</span>?'
            }
          })  %}
            <div class="prose ml-6">
              <p>Cl@ve es una plataforma de verificación de identidades electrónicas para la identificación y autenticación de la ciudadanía. Nos permite identificarnos ante las Administraciones Públicas con plenas garantías de seguridad.</p>
              <p>
                Más información en el <a class="c-link" href="https://clave.gob.es/clave_Home/clave/queEs.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
              </p>
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": 'Para acceder con <span aria-label="Clave">Cl@ve</span> necesito estar registrado. ¿Cómo registrarme?'
            }
          })  %}
            <div class="prose ml-6">
              <p>
                Hay 3 vías para registrarse en <span aria-label="Clave">Cl@ve</span>:
              </p>
              <ul>
                <li>A través de Internet sin certificado electrónico.</li>
                <li>A través de Internet con certificado electrónico o DNIe.</li>
                <li>Presencialmente en una Oficina de Registro.</li>
              </ul>
              <p>
                Lee la explicación completa paso a paso en el <a class="c-link" href="https://clave.gob.es/clave_Home/registro/Como-puedo-registrarme.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
              </p>
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Cómo accedo a la aplicación con <span aria-label="Clave">Cl@ve</span>?'
            }
          })  %}
            <div class="prose ml-6">
              <p>
                En la primera pantalla podrás elegir tu método de identificación: DNIe o certificado electrónico, <span aria-label="Clave">Cl@ve</span> PIN o <span aria-label="Clave">Cl@ve</span> Permanente. Recuerda que para acceder con <span aria-label="Clave">Cl@ve</span> necesitas estar <a class="c-link" href="https://clave.gob.es/clave_Home/registro/Como-puedo-registrarme.html">registrado</a>, y que <span aria-label="Clave">Cl@ve</span> PIN sólo permite identificarse, no firmar electrónicamente.
              </p>
              <p>
                Una vez seleccionado tu método de identificación, deberás:
              </p>
              <ul>
                <li>Si usas DNIe o Certificado, pulsa en Acceder, selecciona tu certificado y accede a la aplicación.</li>
                <li>Si usas <span aria-label="Clave">Cl@ve</span> PIN, pulsa en Acceder, introduce el DNI o NIE y selecciona la opción para generar el PIN.</li>
                <li>Si usas <span aria-label="Clave">Cl@ve</span> Permanente, deberás introducir tu usuario y contraseña para acceder a la aplicación.</li>
              </ul>
              <p>
                Si la identificación ha sido correcta, entrarás en la aplicación. Si la identificación no es válida, deberás salir y comenzar de nuevo.
              </p>
              <p>
                El vídeo <a class="c-link" href="https://youtu.be/Cz0y75Bg-sE?t=46">Ciudadanos: métodos de identificación y firma para trámites electrónicos</a> te muestra los métodos más utilizados para acceder con <span aria-label="Clave">Cl@ve</span>: DNI electrónico o certificado electrónico y con <span aria-label="Clave">Cl@ve</span> permanente.
              </p>
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Cómo saber qué certificado tengo instalado?'
            }
          })  %}
            <div class="prose ml-6">
              <p>
                Encontrarás una explicación breve y clara en el vídeo <a class="c-link" href="https://youtu.be/FAzV53Actlw">Ciudadanos: cómo saber qué certificado tengo instalado</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
              </p>
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Cómo obtener <span aria-label="Clave">Cl@ve</span> permanente?'
            }
          })  %}
            <div class="prose ml-6">
              <p>
                Encontrarás una explicación breve y clara en los vídeos: <a class="c-link" href="https://youtu.be/PmNKu3hZ8S8">Ciudadanos: cómo obtener <span aria-label="Clave">Cl@ve</span> permanente. Parte 1</a> y  <a class="c-link" href="https://youtu.be/gdPM7RsRSM4">Ciudadanos: cómo obtener <span aria-label="Clave">Cl@ve</span> permanente. Parte 2</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
              </p>
            </div>
          {% endcall %}
        </li>

        <li>
          {% call componentDetails({
            "summary": {
              "html": 'No puedo acceder. ¿Dónde encuentro ayuda?'
            }
          })  %}
            <div class="prose ml-6">
              <p>
                Puedes ponerte en contacto con el <em>Soporte Técnico de la Administración Electrónica</em> de varias formas:
              </p>
              <ul>
                <li>Llamar al número de teléfono de Soporte Técnico de la Administración Electrónica: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
                <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
                <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
              </ul>
              <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": 'Tengo un problema relativo a trámites, plazos y otros temas no técnicos. ¿Dónde encuentro ayuda?'
            }
          })  %}
            <div class="prose ml-6">
              <p>
                Si tus dudas o problemas son relativos a temas no técnicos sino de la administración, puedes contactar con nosotros:
              </p>
              <ul>
                <li>Llamar al número de teléfono de Información: <a href="tel:+34976714111" class="c-link">976 71 41 11</a>. <br>Horario de lunes a viernes de 9:00 a 14:00</li>
                <li>Escribir un email a: <a href="mailto:infoyregistro@aragon.es" class="c-link">infoyregistro@aragon.es</a></li>
              </ul>
            </div>
          {% endcall %}
        </li>
      </ul>
    </div>
    <!-- end FAQ -->
  </main>
{% include "pages/_page.foot.njk" %}