{% set title = "Servicio de presentación telemática de tributos. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}


{% block contentBlock %}
  <div class="mb-xl"></div>
  <!-- errores -->
  {# <h2 class="sr-only">Mensajes relevantes</h2>
  {% include "includes/error-navegador.njk" %}
  {% include "includes/error-identificacion.njk" %} #}
  <!-- /errores -->
  <h2 class="c-h2">Accede con <span aria-label="Clave">Cl@ve</span></h2>
  <p class="c-paragraph-base">
    Si tienes <span aria-label="Clave">Cl@ve</span> permanente, <span aria-label="Clave">Cl@ve</span> PIN, DNIe o certificado electrónico.
  </p>
  {{ componentButton({
    "html": 'Accede con&nbsp;<span aria-label="Clave">Cl@ve</span>',
    "classes": "c-button--primary"
  })  }}
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>

{% endblock %}