{% set title = "Rellena tus datos. Servicio de presentación telemática de tributos. Gobierno de Aragón" %}
{% extends "pages/_template.default.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{% block contentBlock %}
{{ componentButton({
  "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver al paso anterior',
  "classes": "c-button--transparent mt-lg mb-lg"
})  }}
<h1 class="c-h1">Rellena tus datos</h1>
<p>Necesitamos tus datos para registrarte y comunicarnos contigo. Una vez finalizado el registro podrás, posteriormente, modificar alguno de estos datos si lo deseas.</p>
<p class="mb-base">* Todos los campos marcados con asterisco son obligatorios.</p>
<form action="#">
  {{ componentInput({
    "label": {
      "text": "NIF *"
    },
    "hint": {
      "text": "Ej: 12345678M"
    },
    "errorMessage": {
      "text": "Error: Este campo no puede estar vacío"
    },
    "id": "nif",
    "name": "nif",
    "formGroup": {
      "classes": "w-full lg:max-w-xs"
    },
    "pattern": "(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))",
    "attributes": {
      "maxlength": "9",
      "size": "10",
      "required": ""
    }
  })  }}
  {{ componentInput({
    "label": {
      "text": "Nombre *"
    },
    "id": "nombre",
    "name": "nombre",
    "formGroup": {
      "classes": "w-full lg:max-w-sm"
    },
    "classes": "w-full",
    "attributes": {
      "maxlength": "100",
      "required": ""
    }
  })  }}
  {{ componentInput({
    "label": {
      "text": "Primer apellido *"
    },
    "id": "primer-apellido",
    "name": "primer-apellido",
    "formGroup": {
      "classes": "w-full lg:max-w-sm"
    },
    "classes": "w-full",
    "attributes": {
      "maxlength": "100",
      "required": ""
    }
  })  }}
  {{ componentInput({
    "label": {
      "text": "Segundo apellido"
    },
    "id": "segundo-apellido",
    "name": "segundo-apellido",
    "formGroup": {
      "classes": "w-full lg:max-w-sm"
    },
    "classes": "w-full",
    "attributes": {
      "maxlength": "100"
    }
  })  }}
  {% call componentFieldset({
    "legend": {
      "text": "Dirección postal",
      "classes": "mb-sm"
    }
  })  %}
      <div class="lg:flex lg:flex-wrap lg:gap-base">
        {{ componentSelect({
          "id": "siglas",
          "name": "siglas",
          "label": {
            "text": "Siglas *"
          },
          "items": [
            {
              "value": 1,
              "text": "Elige tipos de vía",
              "disabled": true,
              "selected": true
            },
            {
              "value": 2,
              "text": "Option 2"
            },
            {
              "value": 3,
              "text": "Option 3",
              "disabled": true
            }
          ],
          "formGroup": {
            "classes": "w-full lg:w-2/12"
          },
          "classes": "w-full",
          "attributes": {
            "required": ""
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Vía *"
          },
          "id": "via",
          "name": "via",
          "formGroup": {
            "classes": "flex-1"
          },
          "classes": "w-full",
          "attributes": {
            "maxlength": "100",
            "required": ""
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Número *"
          },
          "id": "numero",
          "name": "numero",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          },
          "classes": "w-full",
          "attributes": {
            "maxlength": "3",
            "required": ""
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Escalera"
          },
          "id": "escalera",
          "name": "escalera",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          },
          "classes": "w-full",
          "attributes": {
            "maxlength": "20"
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Piso"
          },
          "id": "piso",
          "name": "piso",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          },
          "classes": "w-full",
          "attributes": {
            "maxlength": "20"
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Puerta"
          },
          "id": "puerta",
          "name": "puerta",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          },
          "classes": "w-full",
          "attributes": {
            "maxlength": "20"
          }
        })  }}

      </div>
  {% endcall %}
  {{ componentButton({
    "text": "Continuar",
    "classes": "c-button--primary"
  })  }}
</form>
<hr class="border-t border-neutral-base my-xl">
<!-- Start FAQ -->
<div class="mb-lg">
  <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
  <ul>
    <li>
      {% call componentDetails({
        "summary": {
          "html": '¿Qué puedo hacer como particular?'
        }
      })  %}
        <div class="prose ml-6">
          <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
        </div>
      {% endcall %}
    </li>
    <li>
      {% call componentDetails({
        "summary": {
          "text": "¿Qué puedo hacer como profesional?"
        }
      })  %}
        <div class="prose ml-6">
          <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
        </div>
      {% endcall %}
    </li>
    <li>
      {% call componentDetails({
        "summary": {
          "text": "Soy autónomo y actúo en mi nombre ¿Cuál debo elegir?"
        }
      })  %}
        <div class="prose ml-6">
          <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
        </div>
      {% endcall %}
    </li>
    <li>
      {% call componentDetails({
        "summary": {
          "text": "Soy autónomo y actúo en nombre de terceros ¿Cuál debo elegir?"
        }
      })  %}
        <div class="prose ml-6">
          <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
        </div>
      {% endcall %}
    </li>

  </ul>
</div>
<!-- end FAQ -->
{% endblock %}