{% set title = "Selección de perfil para el registro. Servicio de presentación telemática de tributos. Gobierno de Aragón" %}
{% extends "pages/_template.default.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block contentBlock %}
  <div class="mb-base"></div>
  <!-- errores -->
  <h2 class="sr-only">Mensajes relevantes</h2>
  {{ componentNotification({
     "title": {
       "text": "Te has identificado correctamente"
     },
     "description": {
       "text": "Identificado como: SUBSCRIPTOR FICTICIO REPRESENTANTE ESPAÑOL. 00000000T"
     },
     "type": "success",
     "id": "identification-success",
     "classes": "c-notification--success mb-base"
   })  }}
  <!-- /errores -->
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver al inicio',
    "classes": "c-button--transparent mt-lg mb-lg"
  })  }}
  <h1 class="sr-only">Selección de perfil para el registro</h1>
  {{ componentRadios({
    "idPrefix": "identificacion",
    "name": "identificacion",
    "fieldset": {
      "legend": {
        "html": '<h2>¿Cómo quieres registrarte?</h2>',
        "classes": "c-h1"
      }
    },
    "hint": {
      "text": "Estás utilizando un certificado de persona física. Selecciona el perfil con el que deseas registrarte:"
    },
    "items": [
      {
        "value": "particular",
        "text": "Particular",
        "hint": {
          "text": "Para presentar tus propios impuestos o en representación de familiares o allegados."
        }
      },
      {
        "value": "profesional",
        "text": "Profesional",
        "hint": {
          "text": "Para actuar en representación de terceros como despacho profesional, asesor fiscal o abogado."
        }
      }
    ]
  })  }}
  {{ componentButton({
    "text": "Continuar",
    "classes": "c-button--primary"
  })  }}
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-lg">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué puedo hacer como particular?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "text": "¿Qué puedo hacer como profesional?"
          }
        })  %}
          <div class="prose ml-6">
            <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "text": "Soy autónomo y actúo en mi nombre ¿Cuál debo elegir?"
          }
        })  %}
          <div class="prose ml-6">
            <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "text": "Soy autónomo y actúo en nombre de terceros ¿Cuál debo elegir?"
          }
        })  %}
          <div class="prose ml-6">
            <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Corrupti rerum repellat assumenda, ex perspiciatis rem voluptatum eos mollitia illo quae dolore quaerat dolorum ipsam temporibus architecto facilis, placeat. Quasi, maiores</p>
          </div>
        {% endcall %}
      </li>

    </ul>
  </div>
  <!-- end FAQ -->

{% endblock %}