<div class="py-8">
  <div class="grid grid-cols-10 gap-5">
    <span class="text-center text-sm leading-5 text-gray-500">
      50
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      100
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      200
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      300
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      400
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      500
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      600
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      700
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      800
    </span>
    <span class="text-center text-sm leading-5 text-gray-500">
      900
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-cool-gray-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-gray-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-pink-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-red-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-orange-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-yellow-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-green-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-teal-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-blue-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-indigo-900 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-50 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-100 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-200 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-300 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-400 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-500 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-600 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-700 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-800 shadow-inner"></span>
    </span>
    <span class="pb-full relative rounded overflow-hidden">
      <span class="absolute inset-0 bg-purple-900 shadow-inner"></span>
    </span>
  </div>
</div>