{% macro DSCodeSnippet(urlSnippet, params={}) %}
{% set codeSnippetVariable %}{% include urlSnippet %}{% endset %}
<div x-data="{ isOpenCode: false, textShow: 'Show code'}">
  <div x-text="textShow" @click="isOpenCode = !isOpenCode; isOpenCode ? textShow = 'Hide code' : textShow = 'Show code'" class="inline-block ml-sm text-base text-primary-base font-normal hover:text-primary-dark underline cursor-pointer">Show code</div>
  <div x-show.transition.opacity="isOpenCode" class="c-markup">
    <div class="py-base">
      <pre><code class="language-html">{{ codeSnippetVariable|escape }}</code></pre>
    </div>
  </div>
</div>
{% endmacro %}