<button class="c-button">Primario</button>
<button class="c-button">Acción &rarr;</button>
<button class="c-button">&larr; Acción</button>
<button class="c-button bg-primary-dark">Hover</button>
<button class="c-button bg-warning-base text-black shadow-solid-black">Focus</button>
<button class="c-button" disabled>Desactivado</button>
<span class="inline mr-base"></span>
<button class="c-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center w-4 h-4 mr-2"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M100.625 122.5h-61.25a8.75 8.75 0 0 1-8.75-8.75V35h78.75v78.75a8.75 8.75 0 0 1-8.75 8.75zM56.875 96.25v-35M83.125 96.25v-35M13.125 35h113.75M83.125 17.5h-26.25a8.75 8.75 0 0 0-8.75 8.75V35h43.75v-8.75a8.75 8.75 0 0 0-8.75-8.75z" stroke-width="8.749995"/></g></svg> Icono izda.</button>
<button class="c-button">Icono dcha. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center w-4 h-4 ml-2"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M100.625 122.5h-61.25a8.75 8.75 0 0 1-8.75-8.75V35h78.75v78.75a8.75 8.75 0 0 1-8.75 8.75zM56.875 96.25v-35M83.125 96.25v-35M13.125 35h113.75M83.125 17.5h-26.25a8.75 8.75 0 0 0-8.75 8.75V35h43.75v-8.75a8.75 8.75 0 0 0-8.75-8.75z" stroke-width="8.749995"/></g></svg></button>
<button class="c-button p-3 align-bottom"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center w-4 h-4"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M100.625 122.5h-61.25a8.75 8.75 0 0 1-8.75-8.75V35h78.75v78.75a8.75 8.75 0 0 1-8.75 8.75zM56.875 96.25v-35M83.125 96.25v-35M13.125 35h113.75M83.125 17.5h-26.25a8.75 8.75 0 0 0-8.75 8.75V35h43.75v-8.75a8.75 8.75 0 0 0-8.75-8.75z" stroke-width="8.749995"/></g></svg></button>