{% set browser = "Internet Explorer 6" %}

{{ componentNotification({
  "title": {
    "text": "Problemas encontrados"
  },
  "description": {
    "html": '<p class="c-paragraph-base mb-0">Tu navegador <em>' + browser + '</em>, no es compatible y puedes tener problemas para acceder. Accede con un <a href="https://browsehappy.com/" class="c-link" target="_blank">navegador moderno</a></p>'
  },
  "type": "alert",
  "id": "browser-alert",
  "classes": "c-notification--alert mb-base"
})  }}