{% set errorMsg %}
  <p class="c-paragraph-base">No ha sido posible realizar la identificación. <strong>Inténtalo de nuevo.</strong> Si el problema persiste, consulta la <a href="#" class="c-link">ayuda para acceder</a>.</p>
{% endset %}

{{ componentNotification({
  "title": {
    "text": "Error en la identificación"
  },
  "description": {
    "html": errorMsg
  },
  "type": "alert",
  "id": "browser-alert",
  "classes": "c-notification--alert mb-base"
})  }}