{% set title = "desy-frontend-starter Páginas" %}
{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Páginas</div>
  <div class="pb-lg"></div>
  {% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
  {{ componentMenuVertical({
    "items": [
      {
        href: "templates/pages/test-template.html",
        text: "Test template",
        divider: true
      },
      {
        href: "templates/pages/ingreso-comun.html",
        text: "ingreso común"
      },
      {
        href: "templates/pages/persona-fisica-como-quieres-darte-de-alta.html",
        text: "persona física - cómo quieres darte de alta"
      },
      {
        href: "templates/pages/persona-fisica-particular-rellena-tus-datos.html",
        text: "persona física - particular - rellena tus datos"
      }
    ]
  })  }}
  <div class="pb-2xl"></div>
{% endblock %}